/* App.css (create a new CSS file or add to existing CSS) */

/* Reset default margin and padding for body */
body {
  margin: 0;
  padding: 0;
}

/* Style for the header */
header {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 1rem;
}

/* Style for the navbar */
nav {
  background-color: #444;
}

/* Style for the navbar list */
nav ul {
  list-style: none;
  display: flex; /* Use flexbox to align horizontally */
  justify-content: center; /* Center align items horizontally */
  padding: 0;
}
.newstext{
  margin-left:20px
}
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
/* Style for the navbar list items */
nav li {
  margin: 0 1rem; /* Add spacing between navbar items */
}
#image {
    max-width: 50%; /* Adjust the width of the image as needed */
    height: auto; /* Maintain aspect ratio */
}
#text-container {
    padding-left: 20px; /* Add some spacing between the image and text */
}
.grid-container {
  display: grid;
  grid-template-columns: .15fr .15fr;
  grid-gap: -20px;
}
.container {
    display: flex;
    align-items: flex-start; /* Align items (image and text) at the top */
    padding: 20px; /* Add some spacing around the container */
}
/* Style for the navbar links */
nav a {
  text-decoration: none;
  color: white;
}

/* Hover effect for navbar links */
nav a:hover {
  color: lightgray;
}
